<div class="content-title statistic-title">
	<br/>
	<h3>Statistic tools</h3>
	<h2>Last Analyzes</h2>
</div>

<div id ="scrap-table">
	<section>

		<table class="data-table">

			<!-- Stvaramo header tablice -->
			<thead class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<th>VIEW</th>
				</tr>
			</thead>

			<!-- Stvaramo footer tablice -->
			<tfoot class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<th>VIEW</th>
				</tr>
			</tfoot>

			<!-- Za svaki ispis iz tablice stvaramo row u tablici -->
			<% for(var i=0;i<scrapped.length;i++) {%>

				<!-- Svakom drugom stavljamo crnu pozadinu -->
				<% if(i%2 == 0) {%>
					<tbody>
				<%} else {%>
					<tbody class="table-body">
				<% } %>

					<tr>
						<td><%= scrapped[i].id %></td>
						<td><%= scrapped[i].time %></td>
						<td><%= scrapped[i].url %></td>
						<td><%= scrapped[i].http_status %></td>
						<td><b><%= scrapped[i].title %></b></td>
						<td><%= scrapped[i].date.getDate() + '.' + parseInt(scrapped[i].date.getMonth()+1) + '.' + scrapped[i].date.getFullYear() + '.' %></td>
						<td>
							<form method="GET" action="/sitedata/<%=scrapped[i].id%>">
		          	<button type="submit" class="table-button">View</button>
		        	</form>
						</td>
					</tr>
				</tbody>
			<%  }%>
			<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		</table>

	</section>
</div>
