<div class="content-wrapper">
<div id="titleDiv">
		Statistic tools
</div>

<div id="snatcherDiv">
		<p>ANALYZES HYSTORY</p>
		</div>



<!--If there is error we display it -->
<% if(typeof error != 'undefined') { %>
	<div id="pageTextContent">
  <center>
	<p><%= error %></p>
	</center>
</div>
<% } %>


<!--If there is warning we display it -->
<% if(typeof info != 'undefined') { %>
	<div id="pageTextContent">
	<center>
	<p><%= info %></p>
	</center>
	</div>
<% } %>
<div id="pageTextContent">

	History analyzes tool displays the last 10
	analyzes. Guests are shown only anonymous analyzes, but registered
	users can have full preview of every analysis!

</div>
</div>

<% if(typeof scrapped != 'undefined') { %>

<section>

<div class="tbl-header">
		<table cellpadding="0" cellspacing="0" border="0">
				<thead>
						<tr>
							<th>SCRAP ID</th>
							<th>TIME</th>
							<th>URL</th>
							<th>STATUS</th>
							<th>TITLE</th>
							<th>DATE</th>
							<th>VIEW</th>
						</tr>
				</thead>
		</table>
	</div>
<div class="tbl-content">
		<table cellpadding="0" cellspacing="0" border="0">
				<tbody>
				<% for(var i=0;i<scrapped.length;i++) {%>
					<tr>
							<td><%= scrapped[i].id %></td>
							<td><%= scrapped[i].time %></td>
							<td><%= scrapped[i].url %></td>
							<td><%= scrapped[i].http_status %></td>
							<td><%= scrapped[i].title %></td>
							<td><%= scrapped[i].date.getDate() + '.' + parseInt(scrapped[i].date.getMonth()+1) + '.' + scrapped[i].date.getFullYear() + '.' %></td>
							<td>
								<form method="POST" action="/sitedata">
									<button type="submit" name="enterid" value="<%=scrapped[i].id%>">View</button>
								</form>
							</td>
					</tr>
				<%}%>
				</tbody>

		</table>
</div>

</section>





	<!--<table class="rwd-table">
		<tr>
			<th>SCRAP ID</th>
			<th>TIME</th>
			<th>URL</th>
			<th>STATUS</th>
			<th>TITLE</th>
			<th>DATE</th>
			<th>VIEW</th>
		</tr>
		<% for(var i=0;i<scrapped.length;i++) {%>
		<tr>
			<td data-th="Scrap ID"><%= scrapped[i].id %></td>
			<td data-th="Time"><%= scrapped[i].time %></td>
			<td data-th="URL"><%= scrapped[i].url %></td>
			<td data-th="Http_status"><%= scrapped[i].http_status %></td>
			<td data-th="Title"><%= scrapped[i].title %></td>
			<td data-th="Date"><%= scrapped[i].date.getDate() + '.' + parseInt(scrapped[i].date.getMonth()+1) + '.' + scrapped[i].date.getFullYear() + '.' %></td>
			<td>
				<form method="POST" action="/sitedata">
					<button type="submit" name="enterid" value="<%=scrapped[i].id%>">View</button>
				</form>
			</td>
			</tr>
		<%}%>
	</table>-->




<% } %>

</div>
