<!-- Title -->
<div id="titleDiv2">
	<center>
		<p>Statistic tools</p>
	</center>
</div>

<div id="snatcherDiv2">
	<center>
		<p>ANALYZES HYSTORY</p>
	</center>
</div>




<!--If there is error we display it -->
<% if(typeof error != 'undefined') { %>
  <div class="errmsg">
    <p><%= error %></p>
  </div>
<% } %>


<!--If there is warning we display it -->
<% if(typeof info != 'undefined') { %>
  <div class="infmsg">
    <p><%= info %></p>
  </div>
<% } %>

<center>
	<p style="width: 70%">History analyzes tool displays the last 10
	analyzes. Guests are shown only anonymous analyzes, but registered
	users can have full preview of every analysis!</p>
</center>

<% if(typeof scrapped != 'undefined') { %>
<div id="scrap-table">
	<section>

		<table class="data-table">

			<!-- Stvaramo header tablice -->
			<thead class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<% if(typeof yours != 'undefined') { %>
						<th>YOUR</td>
					<% } %>
					<% if(typeof anonim != 'undefined') { %>
						<th>ANON</td>
					<% } %>
					<th>IMAG</th>
					<th>HEAD</th>
					<% if(typeof childs != 'undefined') { %>
						<th>CHIL</td>
					<% } %>
					<th>VIEW</th>
				</tr>
			</thead>

			<!-- Stvaramo footer tablice -->
			<tfoot class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<% if(typeof yours != 'undefined') { %>
						<th>YOUR</td>
					<% } %>
					<% if(typeof anonim != 'undefined') { %>
						<th>ANON</td>
					<% } %>
					<th>IMAG</th>
					<th>HEAD</th>
					<% if(typeof childs != 'undefined') { %>
						<th>CHIL</td>
					<% } %>
					<th>VIEW</th>
				</tr>
			</tfoot>

			<!-- Za svaki ispis iz tablice stvaramo row u tablici -->
			<% for(var i=0;i<scrapped.length;i++) {%>

				<!-- Svakom drugom stavljamo crnu pozadinu -->
				<% if(i%2 == 0) {%>
					<tbody class="table-body">
				<%} else {%>
					<tbody>
				<% } %>

					<tr>
						<td><%= scrapped[i].id %></td>
						<td><%= scrapped[i].time %></td>
						<td><%= scrapped[i].url %></td>
						<td><%= scrapped[i].http_status %></td>
						<td><b><%= scrapped[i].title %></b></td>
						<td><%= scrapped[i].date.getDate() + '.' + parseInt(scrapped[i].date.getMonth()+1) + '.' + scrapped[i].date.getFullYear() + '.' %></td>
						<% if(typeof yours != 'undefined') { %>
							<td>
								<% if(yours[i] == true) { %>
									<img src= "/imgs/true.png" class="icon"></img>
								<% } else { %>
									<img src= "/imgs/false.png" class="icon"></img>
								<% } %>
								</td>
							<% } %><% if(typeof anonim != 'undefined') { %>
							<td>
								<% if(anonim[i] == false) { %>
									<img src= "/imgs/true.png" class="icon"></img>
								<% } else { %>
									<img src= "/imgs/false.png" class="icon"></img>
								<% } %>
								</td>
							<% } %>
							<td>
							<% if(picture[i] == true) { %>
								<img src= "/imgs/true.png" class="icon"></img>
							<% } else { %>
								<img src= "/imgs/false.png" class="icon"></img>
							<% } %>
							</td>
							<td>
							<% if(heading[i] == true) { %>
								<img src= "/imgs/true.png" class="icon"></img>
							<% } else { %>
								<img src= "/imgs/false.png" class="icon"></img>
							<% } %>
							</td>
							<% if(typeof childs != 'undefined') { %>
								<td>
								<% if(childs[i] == true) { %>
									<img src= "/imgs/true.png" class="icon"></img>
								<% } else { %>
									<img src= "/imgs/false.png" class="icon"></img>
								<% } %>
								</td>
							<% } %>
						<td>
							<form method="POST" action="/sitedata">
		          	<button type="submit" name="enterid" value="<%=scrapped[i].id%>">View</button>
		        	</form>
						</td>
					</tr>
				</tbody>
			<% } %>

		</table>
	</section>
</div>
<% } %>


<<<<<<< HEAD
<hr class="newstyle">
=======
<hr class="newstyle" style="margin-top: 30px">
>>>>>>> 330aeb6b3a8e788892459bb3964a8a203a804bde
