
<div class="content-wrapper">
<div id="titleDiv">
		Snatch content you want with...
</div>

<div id="snatcherDiv">
		<p>
		SNATCHER
		</p>
		</div>
<hr>
<div id="pageTextContent">
<!-- If there is error we display it -->
<% if(typeof sucess != 'undefined') { %>

<center>    <p><%= sucess %></p></center>

<% } %>


<!-- If there is error we display it -->
<% if(typeof error != 'undefined') { %>
  <div id="pageTextContent">
  <center>  <p><%= error %></p></center>
  </div>
<% } %>


<!-- If there is warning we display it -->
<% if(typeof info != 'undefined') { %>
  <div id="pageTextContent">
  <center> <p><%= info %></p></center>
  </div>
<% } %>


<!-- If there is warning we display it -->
<% if(typeof warn != 'undefined') { %>
  <div id="pageTextContent">
  <center>  <p><%= warn %></p> </center>
  </div>
<% } %>
</div>

<!-- Enter new scrap URL -->
<div id="holder">
<div id="formDiv">
	<form method="POST" action="/scraper">
		<div class="container">
			<div class="fieldRow">
				<input type ="url" name="item" id="url" placeholder="" required />
				<label for="url">Enter URL</label>
				<i class="fa fa-globe" aria-hidden="true"></i>
				<i id="iconWrong" class="iconCheck fa fa-times"></i>
				<i id="iconPassed" class="iconCheck fa fa-check"></i>
			</div>
		</div>

	<button type="submit" value="submit" class="pulse">Scrape me</button>

		</div>
	</form>
</div>
<center>
<% if(typeof user != 'undefined') { %>
	<input type="checkbox" name="imgsnatch"><strong>Snatch image</strong></input>
	<input type="checkbox" name="anonymous"><strong>Anonymous analyze</strong></input>
	<input type="checkbox" name="headings"><strong>Analyze headings</strong></input>
	<input type="checkbox" name="childs"><strong>Analyze childs</strong></input>
<% } %>
</center>
</div>




<% if(typeof sucscr != 'undefined') { %>


<table class="rwd-table">
  <tr>
    <th>SCRAP ID</th>
    <th>TIME</th>
    <th>URL</th>
    <th>STATUS</th>
    <th>TITLE</th>
    <th>DATE</th>
		<th>VIEW</th>


  </tr>
  <tr>
    <td data-th="Scrap ID"><%= sucscr[0].id %></td>
    <td data-th="Time"><%= sucscr[0].time %></td>
    <td data-th="URL"><%= sucscr[0].url %></td>
    <td data-th="Http_status"><%= sucscr[0].http_status %></td>
    <td data-th="Title"><%= sucscr[0].title %></td>
    <td data-th="Date"><%= sucscr[0].date.getDate() + '.' + parseInt(sucscr[0].date.getMonth()+1) + '.' + sucscr[0].date.getFullYear() + '.' %></td>
		<td data-th="View"><form method="POST" action="/sitedata">
			<button type="submit" name="enterid" value="<%=sucscr[0].id%>">View</button>
		</form></td>
  </tr>
</table>

</div>
<% } %>
<hr class="newstyle" style="margin-top: 30px">
