
<!-- Includamo navigation file -->
<% include ../partials/navigation.ejs %>
<!-- Scraper -->
<div class="content-title scrap-title">
	<br/>
	<center>

	<h3>Scraping tools</h3>
	<h2>Scraper</h2></center>
</div>


<!-- If there is error we display it -->
<% if(typeof sucess != 'undefined') { %>
  <div class="sucmsg">
    <center>

		<p><%= sucess %></p>
  </div></center>
<% } %>


<!-- If there is error we display it -->
<% if(typeof error != 'undefined') { %>
  <div class="errmsg">
  <center>

	 <p><%= error %></p></center>
  </div>
<% } %>


<!-- If there is warning we display it -->
<% if(typeof info != 'undefined') { %>
  <div class="infmsg">
  <center>

 <p><%= info %></p>	</center>
  </div>
<% } %>


<!-- If there is warning we display it -->
<% if(typeof warn != 'undefined') { %>
  <div class="wrnmsg">
    <center>

<p><%= warn %></p>		</center>
  </div>
<% } %>


<!-- Enter new scrap URL -->
<div id ="scrap-table" class="content-div">
<center>

<p>Enter URL of site you want to analyze:</p></center>
  <form method="POST" action="/scraper">
		<div class="container">
		<div class="fieldRow">
			<input type ="url" name="item" id="url" placeholder="" required />
				<label for="url">Enter URL</label>
			        <i class="fa fa-globe" aria-hidden="true"></i>
			        <i id="iconWrong" class="iconCheck fa fa-times"></i>
			        <i id="iconPassed" class="iconCheck fa fa-check"></i>
			</div>

			</div>
		<% if(typeof user != 'undefined') { %>
			<input type="checkbox" name="imgsnatch">Snatch image?</input>
			<input type="checkbox" name="anonymous">Anonymous analyze?</input>
			<input type="checkbox" name="headings">Analyze headings?</input>
			<input type="checkbox" name="childs">Analyze childs?</input>
		<% } %>
    <input type="checkbox" name="redirect">Follow redirects?</input>
    	<button type="submit" value="submit" class="pulse"> Scrape me</button>
  </form>
</div>


<!-- If sucscr exists we display it in table -->
<% if(typeof sucscr != 'undefined') { %>
<div id="scrap-table" class="content-div">
	<section>

		<table class="data-table">

			<thead class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<% if(typeof yours != 'undefined') { %>
						<th>YOUR</td>
					<% } %>
					<% if(typeof anonim != 'undefined') { %>
						<th>ANON</td>
					<% } %>
					<th>IMAG</th>
					<th>VIEW</th>
				</tr>
			</thead>

			<tfoot class="table-thread">
				<tr>
					<th>SCRAP ID</th>
					<th>TIME</th>
					<th>URL</th>
					<th>STATUS</th>
					<th>TITLE</th>
					<th>DATE</th>
					<% if(typeof yours != 'undefined') { %>
						<th>YOUR</td>
					<% } %>
					<% if(typeof anonim != 'undefined') { %>
						<th>ANON</td>
					<% } %>
					<th>IMAG</th>
					<th>VIEW</th>
				</tr>
			</tfoot>


			<tbody>
				<tr>
				<td><%= sucscr[0].id %></td>
				<td><%= sucscr[0].time %></td>
				<td><%= sucscr[0].url %></td>
				<td><%= sucscr[0].http_status %></td>
				<td><b><%= sucscr[0].title %></b></td>
				<td><%= sucscr[0].date.getDate() + '.' + parseInt(sucscr[0].date.getMonth()+1) + '.' + sucscr[0].date.getFullYear() + '.' %></td>

				<% if(typeof yours != 'undefined') { %>
					<td>
						<% if(yours[0] == true) { %>
							<img src= "/imgs/true.png" class="icon"></img>
						<% } else { %>
							<img src= "/imgs/false.png" class="icon"></img>
						<% } %>
					</td>
					<% } %>

					<% if(typeof anonim != 'undefined') { %>
					<td>
						<% if(anonim[0] == true) { %>
							<img src= "/imgs/true.png" class="icon"></img>
						<% } else { %>
							<img src= "/imgs/false.png" class="icon"></img>
						<% } %>
						</td>
					<% } %>
					<td>
					<% if(picture[0] == true) { %>
						<img src= "/imgs/true.png" class="icon"></img>
					<% } else { %>
						<img src= "/imgs/false.png" class="icon"></img>
					<% } %>
				</td>
					<td>
						<form method="POST" action="/sitedata">
	         		<button type="submit" name="enterid" value="<%=sucscr[0].id%>">View</button>
	       		</form>
					</td>
				</tr>
			</tbody>


		</table>
	</section>
</div>
<% } %>


<hr>


<div class="content-div">
	<p>Want to take picture of site ? Click <a href="/imgsnatch">here</a>.</p>
</div>
<!-- Includamo footer file -->
<% include ../partials/footer.ejs %>
