<p><%= analyzed[0].title %></p>

<div id ="scrap-table">

	<section>

		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<!-- Stvaramo header za html content -->
		<table class="data-table">

			<thead class="table-thread">
				<tr>
					<th>GENERAL</th>
					<th>DATA</th>
				</tr>
			</thead>

      <tfoot class="table-thread">
				<tr>
					<th>GENERAL</th>
					<th>DATA</th>
				</tr>
			</tfoot>

			<tbody>
				<tr>
					<th>URL</th>
					<th><%=analyzed[0].url%></th>
				</tr>
				<tr class="table-body">
					<th>TITLE</th>
					<th><%=analyzed[0].title%></th>
				</tr>
				<tr>
					<th>ANALYZED DATE</th>
					<td><b><%= analyzed[0].date.getDate() + '.' + parseInt(analyzed[0].date.getMonth()+1) + '.' + analyzed[0].date.getFullYear() + '.' %></b></td>
				</tr>
				<tr class="table-body">
					<th>ANALYZED TIME</th>
					<th><%=analyzed[0].time%></th>
				</tr>
				<tr>
					<th>SCRAP ID</th>
					<th><%=analyzed[0].id%></th>
				</tr>
			</tbody>

		</table>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->


		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<!-- Tablica za HTTP headers -->
		<table class="data-table">

			<thead class="table-thread">
				<tr>
					<th>HTTP HEADERS</th>
					<th>DATA</th>
				</tr>
			</thead>

      <tfoot class="table-thread">
				<tr>
					<th>HTTP HEADERS</th>
					<th>DATA</th>
				</tr>
			</tfoot>

			<tbody>
				<tr>
					<th>HTTP STATUS</th>
					<th><%=analyzed[0].http_status%></th>
				</tr>
				<tr class="table-body">
					<th>CONTENT LENGTH</th>
					<th><%=analyzed[0].con_length%></th>
				</tr>
				<tr>
					<th>CONTENT TYPE</th>
					<th><%=analyzed[0].con_type%></th>
				</tr>
				<tr class="table-body">
					<th>SERVER</th>
					<th><%=analyzed[0].server%></th>
				</tr>
			</tbody>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<!-- Tablica za HTML tags -->
		<table class="data-table">

			<thead class="table-thread">
				<tr>
					<th>HTML TAGS</th>
					<th>DATA</th>
				</tr>
			</thead>

			<tfoot class="table-thread">
				<tr>
					<th>HTML TAGS</th>
					<th>DATA</th>
				</tr>
			</tfoot>

			<tbody>
				<tr>
					<th>TITLE</th>
					<th><%=analyzed[0].title%></th>
				</tr>
				<tr class="table-body">
					<th>CHARSET</th>
					<th><%=analyzed[0].charset%></th>
				</tr>
			</tbody>

		</table>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
		<!-- Stvaramo tablicu za ispis headera -->
		<table class="data-table">

			<thead class="table-thread">
				<tr>
					<th>HEADERS</th>
				</tr>
			</thead>

			<tfoot class="table-thread">
				<tr>
					<th>HEADERS</th>
				</tr>
			</tfoot>

			<!-- Za svaki ispis iz tablice stvaramo row u tablici -->
			<% for(var i=0;i<headers.length;i++) {%>

				<!-- Dodajemo razmak prema value-u headera -->
				<% if(headers[i].head_value == 0) { %>
					<tbody class="table-body h1-style">
				<% } else if(headers[i].head_value == 1) { %>
					<tbody class="table-body h2-style">
				<% } else if(headers[i].head_value == 2) { %>
					<tbody class="h3-style">
				<% } else if(headers[i].head_value == 3) { %>
					<tbody class="h4-style">
				<% } else if(headers[i].head_value == 4) { %>
					<tbody class="h5-style">
				<% } else if(headers[i].head_value == 5) { %>
					<tbody class="h6-style">
				<% } else { %>
					<tbody>
				<% }%>

						<!-- Svakom drugom stavljamo sivu pozadinu -->
						<tr>
							<td><%= headers[i].head_text %></td>
						</tr>
					</tbody>
			<% }%>
		</table>
		<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

	</section>


  <center>
    <a href = "/">
      <button type="button" id="buttonview">Back to Home</button>
    </a>
  </center>

</div>
