<p><%= analyzed[0].title %></p>

<div id ="scrap-table">
	<section>

		<table class="data-table">

			<!-- Stvaramo header za html content -->
			<thead class="table-thread">
				<tr>
					<th>HTML CONTENT</th>
					<th>DATA</th>
				</tr>
			</thead>

      <!-- Stvaramo footer za isti hrml content tablicu -->
      <tfoot class="table-thread">
				<tr>
					<th>HTML CONTENT</th>
					<th>DATA</th>
				</tr>
			</tfoot>

      <!-- Tablice sa informacijama -->
			<tbody>
				<tr>
					<th>ID</th>
					<th><%=analyzed[0].id%></th>
				</tr>
				<tr class="table-body">
					<th>URL</th>
					<th><%=analyzed[0].url%></th>
				</tr>
				<tr>
					<th>HTTP STATUS</th>
					<th><%=analyzed[0].http_status%></th>
				</tr>
				<tr class="table-body">
					<th>CONTENT LENGTH</th>
					<th><%=analyzed[0].con_length%></th>
				</tr>
				<tr>
					<th>CONTENT TYPE</th>
					<th><%=analyzed[0].con_type%></th>
				</tr>
				<tr class="table-body">
					<th>SERVER</th>
					<th><%=analyzed[0].server%></th>
				</tr>
				<tr>
					<th>ANALYZED DATE</th>
					<th><%=analyzed[0].date.getDate()%></th>
				</tr>
				<tr class="table-body">
					<th>ANALYZED TIME</th>
					<th><%=analyzed[0].time%></th>
				</tr>
			</tfoot>


		<table>
	</section>


  <center>
    <a href = "/">
      <button type="button" id="buttonview">Back to Home</button>
    </a>
  </center>

</div>
