<!-- Title -->
<div id="titleDiv">
		User account
</div>

<div id="snatcherDiv">
		<p>
		PROFILE
		</p>
		</div>

		<div id="pageTextContent">
<center>
<!--If there is sucess we display it -->
<% if(typeof sucess != 'undefined') { %>
	<% if(sucess.length > 0) { %>
  <div class="sucmsg">
		<%= sucess %>
	</div>
<% } %>
<% } %>


<!--If there is error we display it -->
<% if(typeof error != 'undefined') { %>
	<% if(error.length > 0) { %>
	  <div class="errmsg">
			<%= error %>
		</div>
	<% } %>
<% } %>


<div class="content-div">
	<a href="/logout" id="site-nav__link">Logout</a>
</div>

<div class="content-div">
	<p>
		<strong>id</strong>: <%= user.id %><br>
		<strong>username</strong>: <%= user.username %><br>
		<strong>password</strong>: <%= user.password %>
	</p>
</div>
</div>
</center>
