<!-- Title -->
<div class="content-title users-title">
	<br/>
	<h3>User account</h3>
	<h2>Profile page</h2>
</div>


<!--If there is sucess we display it -->
<% if(sucess.length > 0) { %>
  <div class="sucmsg">
		<%= sucess %>
	</div>
<% } %>


<!--If there is error we display it -->
<% if(error.length > 0) { %>
  <div class="errmsg">
		<%= error %>
	</div>
<% } %>

<div class="content-div">
	<a href="/logout">Logout</a>
</div>

<div class="content-div">
	<p>
		<strong>id</strong>: <%= user.id %><br>
		<strong>username</strong>: <%= user.username %><br>
		<strong>password</strong>: <%= user.password %>
	</p>
</div>
