



<div class="content-wrapper">

<div id="titleDiv">
		Analyze webpages with...
</div>

<div id="snatcherDiv">
		<p>
		SNATCHER
		</p>
		</div>

<hr>


		<div id="pageTextContent">
			<center>
				<p style="width: 70%">Welcome to Snatcher, free online tool for analyzing URLs. Snatcher is created
					for educational purposes and everyone can use it ! If you are interested in
					further development of Snatcher you can find source code
					<a href="http://github.com/lukamatkic/web-analyzer">here</a>.
					Enjoy !</p>
			<center>
		</div>
<div id="holder">
<div id="formDiv">
	<form method="POST" action="/scraper">
		<div class="container">
			<div class="fieldRow">
				<input type ="url" name="item" id="url" placeholder="" required />
				<label for="url">Enter URL</label>
				<i class="fa fa-globe" aria-hidden="true"></i>
				<i id="iconWrong" class="iconCheck fa fa-times"></i>
				<i id="iconPassed" class="iconCheck fa fa-check"></i>
			</div>
		</div>

	<button type="submit" value="submit" class="pulse">Scrape me</button>





		</div>
	</form>
</div>

</div>

<div class ="holderStats">
	<div id="fdw-pricing-table">
		<ul class="listitem">
				<li class="show">
				    <div class="plan plan1">
				        <div class="header">User<br>Accounts</div>
				        <div class="text"><%= data.users %></div>
				    </div>
				</li>

				<li class="hiddenStat">
				    <div class="plan plan2">
				        <div class="header">User<br>logins</div>
				        <div class="text"><%= data.logins %></div>
				    </div>
				</li>

				<li class="hiddenStat">
				    <div class="plan plan3">
				        <div class="header">URL<br>Analyzes</div>
				        <div class="text"><%= data.scraps %></div>
				    </div>
				</li>

				<li class="hiddenStat">
						<div class="plan plan5">
								<div class="header">Analyed<br>childs</div>
								<div class="text"><%= data.childs %></div>
						</div>
				</li>

				<li class="hiddenStat">
				    <div class="plan plan4">
				        <div class="header">Analyed<br>headers</div>
				        <div class="text"><%= data.headings %></div>
						</div>
				</li>
	</div>
</div>
<hr class="newstyle" style="margin-top: 30px">
