<div id="titleDiv">
	<center>
		<p>Analyze webpages with...</p>
	</center>
</div>

<div id="snatcherDiv">
	<center>
		<p>SNATCHER</p>
	</center>
</div>

<hr class="newstyle" style="margin-top: 30px">

<div style="font-size: 20px; margin-top: 20px; margin-bottom: 50px">
	<center>
		<p style="width: 70%">Welcome to Snatcher, free online tool for analyzing URLs. Snatcher is created
			for educational purposes and everyone can use it ! If you are interested in
			further development of Snatcher you can find source code
			<a href="http://github.com/lukamatkic/web-analyzer">here</a>.
			Enjoy !</p>
	<center>
</div>

<div id="holder1" style="margin-top: 20px; margin-bottom: 50px">


	<div id="holder2">
		<div id="formDiv">
			<form method="POST" action="/scraper">
				<div class="container">
					<div class="fieldRow">
						<input type ="url" name="item" id="url" placeholder="" required />
						<label for="url">Enter URL</label>
	        	<i class="fa fa-globe" aria-hidden="true"></i>
	        	<i id="iconWrong" class="iconCheck fa fa-times"></i>
	        	<i id="iconPassed" class="iconCheck fa fa-check"></i>
					</div>
					<button type="submit" value="submit" class="pulse">Analyze url</button>
					<p>Access analyzer page <a href="/scraper">here</a>.</p>
					<% if(typeof user == 'undefined') { %>
						<p>For more advanced analyzer please log in or register <a href="/start">here</a>.</p>
					<% } %>
				</div>
			</form>
		</div>
	</div>
</div>

<hr class="newstyle" style="margin-top: 30px">

<div style="font-size: 20px; margin-top: 20px; margin-bottom: 20px">
	<center>
		<p style="width: 70%">This is open source site so we do not have to hide statistics.
		Here you can see some basic statistics from this site.</p>
	<center>
</div>


<div class ="holderStats">
	<div id="fdw-pricing-table">
	    <div class="plan plan1">
	        <div class="header">User<br>Accounts</div>
	        <div class="text"><%= data.users %></div>
	    </div>
	    <div class="plan plan2">
	        <div class="header">User<br>logins</div>
	        <div class="text"><%= data.logins %></div>
	    </div>
	    <div class="plan plan3">
	        <div class="header">URL<br>Analyzes</div>
	        <div class="text"><%= data.scraps %></div>
	    </div>
			<div class="plan plan5">
					<div class="header">Analyed<br>childs</div>
					<div class="text"><%= data.childs %></div>
			</div>
	    <div class="plan plan4">
	        <div class="header">Analyed<br>headers</div>
	        <div class="text"><%= data.headings %></div>
			</div>
	</div>
</div>
